.slider {
    position: relative;
}

#slider {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    top: -48px;
}

#slider .slideUl {
    position: relative;
    margin: 0;
    padding: 0;
    height: 600px;
    width: 99999px;
    overflow: hidden;
    list-style: none;
}

#slider .slideUl li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 600px;
    text-align: center;
}

#slider .slideUl li .slide {
    background-size: cover;
    height: 600px;
}

#slider .slideUl li .slide1 {
    background-image: url('../img/spiderman-lego.jpg');
}

#slider .slideUl li .slide2 {
    background-image: url('../img/bureau-lego.jpg');
    background-position-y: 77%;
}

#slider .slideUl li .slide3 {
    background-image: url('../img/rando-lego.jpg');
    background-position-y: 27%;
}

section.slider .control {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 72%;
    z-index: 5;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    cursor: pointer;
    transition: border-color 0.3s ease-out;
}

section.slider .control:hover {
    border-color: #d01012;
}

section.slider .control_next {
    right: 40px;
    transform: rotate(45deg);
}

section.slider .control_prev {
    left: 40px;
    transform: rotate(225deg);
}

section.slider .dots {
    width: 100%;
    position: absolute;
    bottom: 0%;
    z-index: 4;
    padding: 0;
    text-align: center;
}

section.slider .dots li {
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 5px;
    background: #fff;
    list-style-type: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease-out;
}

section.slider .dots li.active {
    background: #d01012;
}

section.slider .dots li:hover {
    background: #d01012;
}

.progress {
    position: absolute;
    background: rgba(255, 255, 255, .3);
    height: .5rem;
    width: 100%;
    bottom: 99%;
    border-top: 1px rgba(0, 0, 0, .15) solid;
}

.progress .bar {
    height: 100%;
    width: 0%;
    background: #fff;
}


.teaser {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    transform: translateY(-50%);
}

.teaser h2 {
    font-size: 5em;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fff;
}

.teaser p {
    font-size: 1.3em;
    line-height: 1.3em;
    border-top: 2px #fff solid;
    width: 33%;
    min-width: 25rem;
    margin: 0rem auto;
    padding: 1.5rem 0;
}

.teaser h3 {
    border-bottom: 2px #fff solid;
    width: 33%;
    padding: 1.5rem 0;
    margin: 0rem auto;
    min-width: 25rem;
}

.teaser a {
    margin-left: .5rem;
    margin-right: .5rem;
}